body {
    background-color: black;
}

p {
    color: aliceblue
}

.br-color {
    color: white
}

.div {
    width: 1250px;
    margin: 0px auto;
    border: 1px solid black;
    padding: 100px;
    background-color: black;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
}

ul.nav li {
    float: right;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    float: right;
}

ul.nav li a:hover {
    color: grey;
    border-radius: 15px;
}

.active {
    color: grey;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.grid-item {
    background-color: black;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

.grid-containerc {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.grid-itemc {
    background-color: black;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.about-us {
    grid-column: 1/span 3;
    grid-row: 1;
}

.rheader {
    grid-column: 1;
    grid-row: 1;
    border-bottom: double red;
}

.sheader {
    grid-column: 2;
    grid-row: 1;
    border-bottom: double red;
}

.bheader {
    grid-column: 3;
    grid-row: 1;
    border-bottom: double red;
}

.rtime {
    grid-column: 1;
    grid-row: 2;
    border-bottom: double red;
}

.stime {
    grid-column: 2;
    grid-row: 2;
    border-bottom: double red;
}

.btime {
    grid-column: 3;
    grid-row: 2;
    border-bottom: double red;
}

.radress {
    grid-column: 1;
    grid-row: 3;
    border-bottom: double red;
}

.sadress {
    grid-column: 2;
    grid-row: 3;
    border-bottom: double red;
}

.badress {
    grid-column: 3;
    grid-row: 3;
    border-bottom: double red;
}

.rphone {
    grid-column: 1;
    grid-row: 4;
    border-bottom: double red;
}

.sphone {
    grid-column: 2;
    grid-row: 4;
    border-bottom: double red;
}

.bphone {
    grid-column: 3;
    grid-row: 4;
    border-bottom: double red;
}

.emptyspacec {
    grid-column: 1/ span 3;
    grid-row: 5;
}

.grid-containerm1 {
    display: grid;
    grid-template-columns: 20% auto auto 20%;
    grid-gap: 10px;
}

.grid-itemm {
    background-color: black;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.h {
    grid-column: 2/ span 2;
    grid-row: 1;
    border-bottom: red solid;
}

.c1 {
    grid-column: 2;
    grid-row: 2;
    border-left: dashed;
    border-bottom: dashed;
}

.c2 {
    grid-column: 3;
    grid-row: 2;
    border-right: dashed;
    border-bottom: dashed;
}

.spice {
    grid-column: 2/span 2;
    grid-row: 2;
}

.wsp1 {
    grid-column: 2;
    grid-row: 3;
    border-left: dashed;
    border-bottom: dashed;
}

.wsp2 {
    grid-column: 3;
    grid-row: 3;
    border-right: dashed;
    border-bottom: dashed;
}

.img1 {
    grid-column: 2;
    grid-row: 1;
}

.txt1 {
    grid-column: 2;
    grid-row: 2;
}

.img2 {
    grid-column: 2;
    grid-row: 3;
}

.txt2 {
    grid-column: 2;
    grid-row: 4;
}

.img3 {
    grid-column: 2;
    grid-row: 5;
}

.txt3 {
    grid-column: 2;
    grid-row: 6;
}

.img4 {
    grid-column: 2;
    grid-row: 7;
}

.txt4 {
    grid-column: 2;
    grid-row: 8;
}

.order {
    grid-column: 2/ span 2;
    grid-row: 1;
}