/* I looked at some of my old code for grid and nav and copied some over and then altered them. But I don't think 
I took anything from the outside besides something small in w3school. And right now I am not really satisfied with 
style. This is mostly because I found really pretty backgrounds that I could work on but haven't found a 
good way to make the text pop out*/

body {
    background-color: rgb(21, 81, 148);
}

p {
    color: white;
}


/* Copied/looked at from previous code that I wrote on navs as a refresher */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

ul.nav li a:hover {
    border-bottom: solid;
    border-color: white;
    color: cornsilk;
}

.active {
    color: white;
    border-top: solid;
}


/* looked at previous code written as a refresher*/

.containerm {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.genshin {
    grid-column: 1;
    grid-row: 1/ span 2;
    /* background-color: rgba(171, 145, 237, 0.5); */
    padding: 20px;
    font-weight: bold;
    border-right: double;
    border-color: white;
}

.xiaopicturem {
    grid-column: 2;
    grid-row: 1;
}

.ganyupicturem {
    grid-column: 2;
    grid-row: 2;
}

.xiao {
    grid-column: 1/ span 2;
    grid-row: 3;
    /* background-color: rgb(171, 145, 237, 0.5); I didn't end up using this one*/
    text-align: center;
    font-weight: bold;
    border-bottom: double;
    border-color: white;
    padding: 10px;
}

.ganyu {
    grid-column: 1/ span 2;
    grid-row: 4;
    /* background-color: rgb(171, 145, 237, 0.5); Same with this one */
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.prof {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 2 span/4;
    grid-row: 1;
    padding: 30px;
    border-left: double;
    border-color: white;
}

.playstyle {
    grid-column: 1/span 4;
    grid-row: 2;
    /* background-color: rgba(0, 0, 128, 0.4); */
    padding: 30px;
    border-top: double;
    border-bottom: double;
    border-color: white;
}

.compare {
    grid-column: 1/span 4;
    grid-row: 3;
    /* background-color: rgba(0, 0, 128, 0.4); */
    padding: 30px;
    border-bottom: double;
    border-color: white;
}