body {
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* georgia is the one we will get but in case your 
    computer does not have georgia it moves to times new roman etc... */
}

h1,
h2,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

pre code {
    /*combined the pre and code tag right here*/
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    /* display: block keep you from going too far */
    padding: 20px;
    color: black;
    /*color is just the text color */
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: brown;
}

a:active {
    color: blue;
}

a.special-link {
    color: orange;
}

.hover-div {
    color: black;
    background-color: lightblue;
    padding: 10px;
}

.hover-div:hover {
    color: white;
    background-color: black;
}

p:first-child {
    color: rgb(229, 130, 146);
}

p:last-child {
    color: seagreen;
}

.tooltip p {
    display: none;
    background: rgb(231, 231, 198);
    padding: 10px;
}

.tooltip:hover p {
    display: block;
}

.pseudo-elements::first-letter {
    color: red;
}

.pseudo-elements::before {
    content: "READ THIS: ";
    font-weight: bold;
}

.pseudo-elements::after {
    content: " - REMEMBER THIS";
    font-weight: bold;
}