.div {
    width: 1000px;
    margin: 0px auto;
    border: 1px solid white;
    padding: 50px;
    background-color: rgb(209, 169, 181);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 203, 239);
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgb(217, 215, 176);
    color: white;
}

.active {
    background-color: black;
}

p {
    font-family: carbon-fence, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: carbon-phyber, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: carbon-phyber, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: carbon-phyber, sans-serif;
    font-weight: 400;
    font-style: normal;
}