.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px
}

.grid-item {
    background-color: slategray;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

.grid-item2 {
    background-color: grey;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1/span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1/span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1/span 2;
    grid-row: 3;
}

.main2 {
    grid-column: 1/span 2;
    grid-row: 5;
}

.sidenav {
    grid-column: 3;
    grid-row: 3/span 3;
}

.support1 {
    grid-column: 1;
    grid-row: 4;
}

.support2 {
    grid-column: 2;
    grid-row: 4
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: grey;
}

.active {
    background-color: saddlebrown;
}