Style.css .menu-item {
    font-weight: bold;
}

body {
    background-color: azure;
}

h1 {
    color: burlywood;
}

.border {
    background-color: rgb(195, 192, 192);
    color: white;
    border-radius: 5px;
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
}

.image {
    border-radius: 5px;
}