* {
    box-sizing: border-box;
    /* border-box, make sure that we push within the div rather than pushing away from the div */
}


/* Star stands for everything */


/* Source code: https://codepen.io/alvarotrigo/pen/MWEJEWG */

body {
    font-family: monospace;
    font-size: large;
    margin: 0;
    height: 100%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 50px;
    padding: 1em;
}

.top-nav a {
    text-decoration: none;
    color: white;
}

.top-nav a:hover {
    color: white;
}


/* My Own code: */

.nav {
    height: 120px;
    color: white;
    background-color: rgba(124, 81, 43, 0.477);
    display: flex;
    align-items: center;
    position: sticky;
    top: -50px;
}

.navinner {
    float: left;
    width: 100%;
    position: sticky;
    top: 0;
}

p {
    color: rgb(79, 79, 79);
}

.header {
    color: white;
    text-align: left;
    padding: 30px;
    color: white;
    background-color: #3333335d;
}

.divider {
    float: left;
    width: 100%;
    padding: 40px 50px;
    background-color: rgba(245, 236, 220, 0.879);
}

.left {
    float: left;
    width: 20%;
    padding: 20px 50px;
    margin-top: 15px;
    text-align: center;
}

.mainspecial {
    float: left;
    width: 70%;
    padding: 30px 150px;
}

.right {
    float: left;
    width: 10%;
    padding: 15px 30px;
    margin-top: 20px;
}

.service {
    float: left;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 35px;
    background-color: rgba(245, 236, 220, 0.413)
}

.main {
    float: inherit;
    margin: 0 auto;
    width: 1000px;
}

div.gallery {
    float: left;
    margin: 1%;
    border: 1px solid #ccc;
    width: 23%;
}

.footer {
    padding: 10px;
    float: bottom;
    clear: both;
    /* If you see a float in the code and don't ignore it */
    background-color: rgba(245, 236, 220, 0.879)
}

footer {
    width: 60%;
    margin: 0 auto;
}


/* Code from: https://codepen.io/alvarotrigo/pen/MWEJEWG */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
    color: grey;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


/* learned about center from w3school */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* Own code, learned from demos: */

@media(min-width:621px) and (max-width:1000px) {
    .mainspecial {
        width: 70%;
        padding: 30px 60px;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .right {
        width: 30%;
        padding: 0;
        margin-top: 50px;
    }
    .nav a {
        width: 24.5%;
    }
    .center {
        width: 20%;
    }
    .main {
        margin-left: 25px;
    }
}

@media only screen and (max-width:620px) {
    .left {
        width: 100%;
        text-align: center;
    }
    .mainspecial {
        width: 100%;
        padding: 30px 50px;
    }
    .right {
        width: 100%;
    }
    .nav a {
        width: 24%;
    }
    .center {
        width: 50%;
    }
    .main {
        margin-left: 90px;
    }
}


/* Found code on: https://codepen.io/alvarotrigo/pen/MWEJEWG */

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}